body {
    background-color: #4f77a1;
  }
  .regform {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .loginlink{
    color:#fff;
  }
  .loginlink:hover{
    color:black;
  }